html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
  background: #1d1f21;
}
a {
  color: #ccffb6;
}
#content-outer {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}
.recent-post-item {
  margin: 40px auto 0;
  padding-bottom: 40px;
  font-size: 1.5rem;
}
.recent-post-item a {
  color: #ccffb6;
}
.recent-post-item .post-title {
  font-size: 3.6rem;
  color: #2bbc8a;
  text-decoration: none;
  cursor: pointer;
}
.recent-post-item .post-title:hover {
  color: #c4edde;
  border-bottom: 1px solid #2bbc8a;
}
.recent-post-item .post-time {
  font-size: 1.3rem;
  color: #ccffb6;
}
.recent-post-item .post-excerpt {
  color: #c9cacc;
}
.recent-post-item .post-excerpt ul {
  overflow: auto;
}
.recent-post-item img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.recent-post-item figure table {
  padding: 0 15px;
  background: #014243;
  color: #949ca0;
  border-radius: 5px;
}
#footer {
  width: 100%;
  padding: 30px 0;
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  color: #777d81;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
#footer .shortcut {
  float: right;
  font-size: 3rem;
}
#footer .shortcut a {
  text-decoration: none;
  margin-left: 15px;
}
#footer .shortcut a img {
  width: 20px;
  height: 20px;
}
#footer .shortcut a i {
  font-size: 30px;
}
#footer .ama {
  padding-left: 20px;
}
@media (max-width: 700px) {
  #footer .shortcut {
    display: none;
  }
}
#tag h1 {
  font-size: 3rem;
  color: #2bbc8a;
}
#tag h1 .iconfont {
  font-size: 30px;
  margin-right: 5px;
}
#tag .article-list-item {
  line-height: 30px;
  font-size: 1.5rem;
}
#tag .article-list-item .item-time {
  color: #777d81;
  display: inline-block;
  min-width: 100px;
  margin-right: 20px;
  text-align: right;
  font-family: serif;
}
#tag .article-list-item .post-title {
  text-decoration: none;
}
#tag .article-list-item .post-title:hover {
  color: #c4edde;
}
#content-outer .markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 45px;
  color: #c9cacc;
}
#content-outer .markdown-body a {
  color: #ccffb6;
}
#content-outer .markdown-body h1 {
  color: #2bbc8a;
}
#content-outer .markdown-body h2 {
  margin-top: 50px;
  color: #2bbc8a;
}
#content-outer .markdown-body h3 {
  margin-top: 40px;
  color: #eee;
}
#content-outer .markdown-body h4 {
  margin-top: 30px;
  color: #eee;
}
#content-outer .markdown-body img {
  margin: 10px;
}
#content-outer .markdown-body pre,
#content-outer .markdown-body table {
  background-color: #014243 !important;
  color: #949ca0;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .markdown-body {
    padding-top: 15px;
  }
}
pre .line {
  min-height: 1.4em;
}
.fa-tag:before {
  content: "\f02b";
  position: relative;
  left: -2px;
}
figure {
  margin: 0;
  overflow: auto;
}
figure table {
  min-width: 100%;
}
figure .code {
  width: 100%;
}
#pagination {
  font-size: 2rem;
  height: 20px;
  margin: 10px auto 0;
}
#pagination .next {
  float: right;
}
#pagination .prev {
  float: left;
}
#pagination .next,
#pagination .prev {
  text-decoration: none;
}
#pagination .next i,
#pagination .prev i {
  font-size: 24px;
}
.article-title {
  font-size: 4.5rem;
  color: #2bbc8a;
}
.side-menu {
  position: fixed;
  right: 12px;
  bottom: 0;
  z-index: 99;
}
.side-menu .shortcut {
  background-color: rgba(138,157,170,0.3);
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  font-size: 3rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  color: rgba(255,255,255,0.39);
}
.side-menu .shortcut a {
  text-decoration: none;
}
.side-menu .shortcut .iconfont {
  font-size: 30px;
  color: #2bbc8a;
}
#goTop {
  display: none;
}
@media (max-width: 700px) {
  .side-menu {
    display: none;
  }
}
.title-info {
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.title-info .post-time {
  margin-right: 1rem;
  white-space: nowrap;
}
.title-info .title-item a {
  text-decoration: none;
  color: rgba(98,155,220,0.84);
}
